data/1WzKHGYG.txt
[{"id":"fee1ca99a7f75fca","type":"api-call-service","z":"262bf4f774a339aa","name":"Set heating to 16 degrees","server":"cccfe2a0.5957","version":5,"debugenabled":false,"domain":"climate","service":"set_temperature","areaId":[],"deviceId":[],"entityId":["climate.moes"],"data":"{\"temperature\":16}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"message","propertyType":"global","value":"Nobody is home, heating set to 16 degrees","valueType":"str"}],"queue":"none","x":970,"y":360,"wires":[["e181bb6bf23cb2df"]]},{"id":"21dcd446da543c06","type":"ha-get-entities","z":"262bf4f774a339aa","name":"Get moes data","server":"cccfe2a0.5957","version":0,"rules":[{"property":"attributes.friendly_name","logic":"is","value":"moes","valueType":"str"}],"output_type":"array","output_empty_results":false,"output_location_type":"msg","output_location":"payload","output_results_count":1,"x":660,"y":280,"wires":[["de12f8b44f4f4ea5"]]},{"id":"de12f8b44f4f4ea5","type":"function","z":"262bf4f774a339aa","name":"Get current setting","func":"var temp = msg.payload[0].attributes.temperature;\n\nmsg.payload = temp; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":850,"y":280,"wires":[["567352bd790b0a7f"]]},{"id":"567352bd790b0a7f","type":"switch","z":"262bf4f774a339aa","name":"Change settings","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"16","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":760,"y":360,"wires":[[],["fee1ca99a7f75fca"]]},{"id":"cccfe2a0.5957","type":"server","name":"homeassistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":false,"heartbeat":false,"heartbeatInterval":"","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"}]