data/BpyQMtRL.txt
[{"id":"30183a6636eb0d8a","type":"tab","label":"MQTT example","disabled":false,"info":"","env":[]},{"id":"bb3732c69481c147","type":"mqtt in","z":"30183a6636eb0d8a","name":"","topic":"some-very-unique-topic-name","qos":"2","datatype":"auto-detect","broker":"cced9eefcc612282","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":120,"wires":[["78d4937838389eb9"]]},{"id":"8e3a145c60c66d62","type":"mqtt out","z":"30183a6636eb0d8a","name":"","topic":"some-very-unique-topic-name","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"cced9eefcc612282","x":530,"y":200,"wires":[]},{"id":"7f1e6de5d96fe919","type":"inject","z":"30183a6636eb0d8a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"This is the message","payloadType":"str","x":190,"y":200,"wires":[["8e3a145c60c66d62"]]},{"id":"78d4937838389eb9","type":"debug","z":"30183a6636eb0d8a","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":120,"wires":[]},{"id":"cced9eefcc612282","type":"mqtt-broker","name":"HiveMQ","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""}]