data/Htbcdwsc.txt
[{"id":"f38f7c44cf8b1780","type":"http request","z":"ad9139cd5bf19db1","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://api.openai.com/v1/completions","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[{"keyType":"Content-Type","keyValue":"","valueType":"application/json","valueValue":""},{"keyType":"other","keyValue":"Authorization","valueType":"other","valueValue":"Bearer sk-YOURAPIKEY"}],"x":890,"y":1420,"wires":[["d8124df6f606d176"]]},{"id":"f55a4759c3643721","type":"inject","z":"ad9139cd5bf19db1","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"00 08 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":1420,"wires":[["d8d630f2d2be85c5"]]},{"id":"d8d630f2d2be85c5","type":"api-current-state","z":"ad9139cd5bf19db1","name":"Kolik je dnešní teplota?","server":"%%ID%%","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermapdaily_forecast_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"denniteplota","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":410,"y":1320,"wires":[["9740a38d1840a64e"]]},{"id":"9740a38d1840a64e","type":"api-current-state","z":"ad9139cd5bf19db1","name":"Pravděpodobnost srážek","server":"%%ID%%","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermapdaily_forecast_precipitation","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"srazky","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":1380,"wires":[["a0111316c178d3af"]]},{"id":"4a529b76473cc6e8","type":"function","z":"ad9139cd5bf19db1","name":"Nastav zprávu","func":"// Definice a úprava proměnných\n\nvar teplota = Math.round(msg.denniteplota);\nvar upravenaTeplota = String(teplota);\nvar finalniteplota;\n\n// Zkontroluj, zda je teplota nižní než nula, pokud ano, vyměn \"-\" za \"minus\"\n\nif (upravenaTeplota.includes(\"-\")) {\n    var a = upravenaTeplota.split(\"\");\n    var b = a[0].replace(\"-\",\"minus \");\n    finalniteplota = b+a[1];\n}\nelse {\n    finalniteplota= upravenaTeplota;\n}\n\n// Nastav zprávu\n\nvar zprava = \"Prepare cheerfull morning message for Daniel with following information: weather today will be \" + msg.pocasi + \", max temperature today will be \" + finalniteplota + \" degrees C, precipitation probability \" + msg.srazky + \"%, precipitation type will be \" + msg.typsrazek + \".  Finish with a quote.\";\n\n// Nastav požadavek\n\nvar pozadavek = { temperature: 1, model: \"text-davinci-003\", max_tokens: 256, top_p: 1, frequency_penalty: 0, presence_penalty: 0, prompt: zprava };\n\n// Nastav odchozí zprávy\n\nmsg.payload = pozadavek;\n\n// Konec funkce\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":1420,"wires":[["f38f7c44cf8b1780"]]},{"id":"e95bd67768424e48","type":"api-call-service","z":"ad9139cd5bf19db1","name":"Ranní hlášení na mobil","server":"%%ID%%","version":5,"debugenabled":true,"domain":"notify","service":"mobile_app_pixel_4a_5g","areaId":[],"deviceId":[],"entityId":[],"data":"{\"title\":\"Ranní hlášení\",\"message\":\"{{upravena}}\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":1420,"wires":[[]]},{"id":"d8124df6f606d176","type":"function","z":"ad9139cd5bf19db1","name":"Odstraň prázdné řádky","func":"// Odstraní prázdné řádky z odpovědi\n\nvar zprava = removeNewLines(msg.payload.choices[0].text);\n\nfunction removeNewLines(str) {\n    return str.replace(/\\n/g, \"\");\n}\n\n// Nastaví odchozí zprávu\n\nmsg.upravena = zprava;\n\n// Konec funkce\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":1420,"wires":[["e95bd67768424e48"]]},{"id":"6e80586bb7afc72b","type":"api-current-state","z":"ad9139cd5bf19db1","name":"Počasí?","server":"%%ID%%","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.openweathermapdaily","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"pocasi","propertyType":"msg","value":"","valueType":"entityState"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":1500,"wires":[["4a529b76473cc6e8"]]},{"id":"a0111316c178d3af","type":"api-current-state","z":"ad9139cd5bf19db1","name":"Typ srážek","server":"%%ID%%","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.openweathermapdaily_precipitation_kind","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"typsrazek","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":370,"y":1440,"wires":[["6e80586bb7afc72b"]]},{"id":"%%ID%%","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]