data/jK9TjVnw.txt
[{"id":"8b2cd71f81ce0c9c","type":"ui_text_input","z":"f6b1667f7ee0d1b0","name":"","label":"Lokacio","tooltip":"","group":"bf7c3e30333f0b0b","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":260,"y":3960,"wires":[["b41652fe36755e64"]]},{"id":"b7a44da47e081bda","type":"ui_text_input","z":"f6b1667f7ee0d1b0","name":"","label":"darab","tooltip":"","group":"bf7c3e30333f0b0b","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":4000,"wires":[["948f186a16fa83c9"]]},{"id":"e33a7d2f4c8b7da0","type":"ui_text_input","z":"f6b1667f7ee0d1b0","name":"","label":"kg","tooltip":"","group":"bf7c3e30333f0b0b","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":250,"y":4040,"wires":[["cdaed1ea66374d8d"]]},{"id":"b41652fe36755e64","type":"change","z":"f6b1667f7ee0d1b0","name":"","rules":[{"t":"set","p":"lokacio","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":3960,"wires":[[]]},{"id":"948f186a16fa83c9","type":"change","z":"f6b1667f7ee0d1b0","name":"","rules":[{"t":"set","p":"darab","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":4000,"wires":[[]]},{"id":"cdaed1ea66374d8d","type":"change","z":"f6b1667f7ee0d1b0","name":"","rules":[{"t":"set","p":"kg","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":4040,"wires":[[]]},{"id":"0b51f3f5d3b94650","type":"ui_button","z":"f6b1667f7ee0d1b0","name":"","group":"bf7c3e30333f0b0b","order":5,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"Mentes","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":4080,"wires":[["d50aa1f419eaca08"]]},{"id":"d50aa1f419eaca08","type":"function","z":"f6b1667f7ee0d1b0","name":"save data","func":"msg.payload = \"Adat: \"+ flow.get(\"lokacio\") + \",\" + flow.get(\"darab\")+\",\"+flow.get(\"kg\")\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":4080,"wires":[["5af008e775792c39"]]},{"id":"5af008e775792c39","type":"debug","z":"f6b1667f7ee0d1b0","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":4080,"wires":[]},{"id":"bf7c3e30333f0b0b","type":"ui_group","name":"Counter","tab":"156af96f.f8fd27","order":1,"disp":true,"width":"6","collapse":false},{"id":"156af96f.f8fd27","type":"ui_tab","name":"Home","icon":"home","order":1}]