data/mNcJeh0z.txt
[{"id":"3da69ae4e2db3457","type":"split","z":"f98a706f19399b30","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":410,"y":100,"wires":[["01a67a7e23d93cf5"]]},{"id":"01a67a7e23d93cf5","type":"api-current-state","z":"f98a706f19399b30","name":"Read state","server":"f3597401.3f5758","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"{{payload}}","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":570,"y":100,"wires":[["f6ec7a698fc7dd21"]]},{"id":"f6ec7a698fc7dd21","type":"BooleanLogicUltimate","z":"f98a706f19399b30","name":"","payloadPropName":"payload","filtertrue":"both","persist":true,"sInitializeWith":"WaitForPayload","triggertopic":"trigger","outputtriggeredby":"all","inputCount":"2","topic":"result","restrictinputevaluation":false,"delayEvaluation":"500","x":240,"y":240,"wires":[[],["a6d00ceeb7806f17"],[]]},{"id":"a6d00ceeb7806f17","type":"switch","z":"f98a706f19399b30","name":"True/False?","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":240,"wires":[[],[]]},{"id":"f1384b832d5f3933","type":"change","z":"f98a706f19399b30","name":"Set # of inputs","rules":[{"t":"set","p":"inputcount","pt":"msg","to":"$count(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":240,"y":100,"wires":[["3da69ae4e2db3457"]]},{"id":"f3597401.3f5758","type":"server","name":"Home Assistant RSD","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]