data/u2puetZT.txt
[{"id":"fbf6073.df3a9f8","type":"tab","label":"Suntimer","disabled":false,"info":""},{"id":"578a0a92.899d94","type":"suncron","z":"fbf6073.df3a9f8","name":"Suntimer","lat":"59.47196555937714","lon":"18.386387609133052","replay":true,"ejectScheduleOnUpdate":true,"sunrisePayload":"sunrise","sunrisePayloadType":"str","sunriseTopic":"Suntimer","sunriseOffsetType":1,"sunriseOffsetHours":0,"sunriseOffsetMinutes":0,"sunriseOffset":0,"sunriseEndPayload":"sunriseEnd","sunriseEndPayloadType":"str","sunriseEndTopic":"Suntimer","sunriseEndOffsetType":1,"sunriseEndOffsetHours":0,"sunriseEndOffsetMinutes":0,"sunriseEndOffset":0,"goldenHourEndPayload":"","goldenHourEndPayloadType":"str","goldenHourEndTopic":"","goldenHourEndOffsetType":1,"goldenHourEndOffsetHours":0,"goldenHourEndOffsetMinutes":0,"goldenHourEndOffset":0,"solarNoonPayload":"","solarNoonPayloadType":"str","solarNoonTopic":"","solarNoonOffsetType":1,"solarNoonOffsetHours":0,"solarNoonOffsetMinutes":0,"solarNoonOffset":0,"goldenHourPayload":"","goldenHourPayloadType":"str","goldenHourTopic":"Suntimer","goldenHourOffsetType":1,"goldenHourOffsetHours":0,"goldenHourOffsetMinutes":0,"goldenHourOffset":0,"sunsetStartPayload":"sunsetStart","sunsetStartPayloadType":"str","sunsetStartTopic":"Suntimer","sunsetStartOffsetType":1,"sunsetStartOffsetHours":0,"sunsetStartOffsetMinutes":0,"sunsetStartOffset":0,"sunsetPayload":"sunset","sunsetPayloadType":"str","sunsetTopic":"Suntimer","sunsetOffsetType":1,"sunsetOffsetHours":0,"sunsetOffsetMinutes":0,"sunsetOffset":0,"duskPayload":"dusk","duskPayloadType":"str","duskTopic":"Suntimer","duskOffsetType":1,"duskOffsetHours":0,"duskOffsetMinutes":0,"duskOffset":0,"nauticalDuskPayload":"","nauticalDuskPayloadType":"str","nauticalDuskTopic":"","nauticalDuskOffsetType":1,"nauticalDuskOffsetHours":0,"nauticalDuskOffsetMinutes":0,"nauticalDuskOffset":0,"nightPayload":"","nightPayloadType":"str","nightTopic":"","nightOffsetType":1,"nightOffsetHours":0,"nightOffsetMinutes":0,"nightOffset":0,"nadirPayload":"nadir","nadirPayloadType":"str","nadirTopic":"Suntimer","nadirOffsetType":1,"nadirOffsetHours":0,"nadirOffsetMinutes":0,"nadirOffset":0,"nightEndPayload":"","nightEndPayloadType":"str","nightEndTopic":"","nightEndOffsetType":1,"nightEndOffsetHours":0,"nightEndOffsetMinutes":0,"nightEndOffset":0,"nauticalDawnPayload":"","nauticalDawnPayloadType":"str","nauticalDawnTopic":"","nauticalDawnOffsetType":1,"nauticalDawnOffsetHours":0,"nauticalDawnOffsetMinutes":0,"nauticalDawnOffset":0,"dawnPayload":"dawn","dawnPayloadType":"str","dawnTopic":"Suntimer","dawnOffsetType":1,"dawnOffsetHours":0,"dawnOffsetMinutes":0,"dawnOffset":0,"x":80,"y":460,"wires":[["404e748d.3d8c9c"]]},{"id":"83c9e2e7.117","type":"api-call-service","z":"fbf6073.df3a9f8","name":"Suntimed Lights","server":"45ad3b77.ab7904","version":5,"debugenabled":false,"domain":"homeassistant","service":"{{service}}","areaId":[],"deviceId":[],"entityId":["{{payload.data.entity_id}}"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"all","x":1080,"y":360,"wires":[[]]},{"id":"404e748d.3d8c9c","type":"function","z":"fbf6073.df3a9f8","name":"","func":"//o1 = null;\n//o2 = null;\n\nconst messages = new Array(node.outputCount)\nvar outputIndex = null;\nvar entity_id = null;\nvar new_msg = null;\n\nswitch(msg.payload) {\n    case \"sunrise\":\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_on',\n                \"data\" : {\n                    \"entity_id\" : \"light.uthus, light.stolpe_alla, light.huvudentre, light.fasad_alla, light.fasad_baksida, light.entre_vitrinskap\",\n                    \"brightness_pct\" : 50 }\n            }\n        };\n        outputIndex = 0;\n        messages[outputIndex] = new_msg;\n        break;\n    case \"sunriseEnd\":\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_off',\n                \"data\" : {\n                    \"entity_id\" : \"light.uthus, light.stolpe_alla, light.huvudentre, light.fasad_alla, light.fasad_baksida, light.entre_vitrinskap\"}\n            }\n        };\n        outputIndex = 0;\n        messages[outputIndex] = new_msg;\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_off',\n                \"data\" : {\n                 \"entity_id\" : \"light.fasad_fram_upp\"}\n            }\n        };\n        outputIndex = 1;\n        messages[outputIndex] = new_msg;\n        break;\n    case \"sunsetStart\":\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_on',\n                \"data\" : {\n                    \"entity_id\" : \"light.uthus, light.stolpe_alla, light.fasad_alla, light.fasad_baksida, light.entre_vitrinskap\",\n                    \"brightness_pct\" : 80 }\n                    }\n        };\n        outputIndex = 0;\n        messages[outputIndex] = new_msg;\n        break;\n    case \"sunset\":\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_on',\n                \"data\" : {\n                    \"entity_id\" : \"light.uthus, light.stolpe_alla, light.huvudentre, light.fasad_alla, light.fasad_baksida, light.entre_vitrinskap\",\n                    \"brightness_pct\" : 70 }\n                    }\n        };\n        outputIndex = 0;\n        messages[outputIndex] = new_msg;\n        break;\n    case \"dusk\":\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_on',\n                \"data\" : {\n                    \"entity_id\" : \"light.uthus, light.stolpe_alla, light.fasad_alla, light.fasad_baksida, light.entre_vitrinskap\",\n                    \"brightness_pct\" : 40 }\n                    }\n        };\n        outputIndex = 0;\n        messages[outputIndex] = new_msg;\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_on',\n                \"data\" : {\n                    \"entity_id\" : \"light.fasad_fram_upp\",\n                    \"brightness_pct\" : 0 }\n            }\n        };\n        outputIndex = 1;\n        messages[outputIndex] = new_msg;\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_off',\n                \"data\" : {\n                    \"entity_id\" : \"light.huvudentre\"}\n                    }\n        };\n        outputIndex = 2;\n        messages[outputIndex] = new_msg;\n        break;\n    case \"nadir\":\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_on',\n                \"data\" : {\n                    \"entity_id\" : \"light.uthus, light.stolpe_alla, light.fasad_alla, light.fasad_baksida\",\n                    \"brightness_pct\" : 40 }\n                    }\n        };\n        outputIndex = 0;\n        messages[outputIndex] = new_msg;\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_on',\n                \"data\" : {\n                    \"entity_id\" : \"light.fasad_fram_upp\",\n                    \"brightness_pct\" : 0 }\n            }\n        };\n        outputIndex = 1;\n        messages[outputIndex] = new_msg;\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_off',\n                \"data\" : {\n                    \"entity_id\" : \"light.huvudentre, light.entre_vitrinskap\"}\n                    }\n        };\n        outputIndex = 2;\n        messages[outputIndex] = new_msg;\n        break;\n    case \"dawn\":\n        new_msg = {\n            \"payload\": {\n                \"service\": 'turn_on',\n                \"data\" : {\n                    \"entity_id\" : \"light.uthus, light.stolpe_alla, light.huvudentre, light.fasad_alla, light.fasad_baksida\",\n                    \"brightness_pct\" : 80 }\n                    }\n        };\n        outputIndex = 0;\n        messages[outputIndex] = new_msg;\n        break;\n}\nreturn messages;","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":480,"wires":[["1b957b23.aeae25","83c9e2e7.117","d692420f6efd14fc"],["becec41799c971c1","d692420f6efd14fc"],["eee4e2ca26ec3e92"]],"outputLabels":["group","Fasad_Fram_up","Huvudentre"],"icon":"node-red-node-suncalc/sun.png"},{"id":"96be0e2f.59d85","type":"inject","z":"fbf6073.df3a9f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sunsetStart","payloadType":"str","x":110,"y":220,"wires":[["404e748d.3d8c9c"]]},{"id":"31976af9.ff1536","type":"inject","z":"fbf6073.df3a9f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sunset","payloadType":"str","x":90,"y":260,"wires":[["404e748d.3d8c9c"]]},{"id":"5fd3b23f.11885c","type":"inject","z":"fbf6073.df3a9f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sunriseEnd","payloadType":"str","x":100,"y":180,"wires":[["404e748d.3d8c9c"]]},{"id":"93a364e4.a9aa08","type":"inject","z":"fbf6073.df3a9f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"sunrise","payloadType":"str","x":90,"y":140,"wires":[["404e748d.3d8c9c"]]},{"id":"1b957b23.aeae25","type":"msg-resend","z":"fbf6073.df3a9f8","d":true,"interval":"500","intervalUnit":"msecs","maximum":"3","bytopic":false,"clone":false,"firstDelayed":false,"addCounters":false,"waitForResend":false,"highRate":true,"outputCountField":"","outputMaxField":"","name":"Group repeat","x":1090,"y":240,"wires":[["83c9e2e7.117"]]},{"id":"e0835ea2.1c5d3","type":"inject","z":"fbf6073.df3a9f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"dusk","payloadType":"str","x":90,"y":300,"wires":[["404e748d.3d8c9c"]]},{"id":"a45c3080.2cdbd","type":"inject","z":"fbf6073.df3a9f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"nadir","payloadType":"str","x":90,"y":340,"wires":[["404e748d.3d8c9c"]]},{"id":"b2f9239c.3ed3c8","type":"inject","z":"fbf6073.df3a9f8","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"dawn","payloadType":"str","x":90,"y":380,"wires":[["404e748d.3d8c9c"]]},{"id":"becec41799c971c1","type":"chronos-switch","z":"fbf6073.df3a9f8","name":"Month filter","config":"b15f5260591a3f03","baseTime":"","baseTimeType":"msgIngress","conditions":[{"operator":"months","label":"months MAR APR MAY JUN JUL AUG SEP OCT","operands":[false,false,true,true,true,true,true,true,true,true,false,false]},{"operator":"months","label":"months JAN FEB NOV DEC","operands":[true,true,false,false,false,false,false,false,false,false,true,true]},{"operator":"months","label":"months JAN DEC","operands":[true,false,false,false,false,false,false,false,false,false,false,true]}],"stopOnFirstMatch":false,"outputs":3,"x":310,"y":340,"wires":[["633f2de8e0393d6b"],["4820f29ff39cdfb3"],["638690b17a7845f8"]],"outputLabels":["Normal","Winter Lights","Christmas Lights"]},{"id":"638690b17a7845f8","type":"function","z":"fbf6073.df3a9f8","d":true,"name":"Christmas Tree","func":"if (msg.payload.service == \"turn_off\"){\n   msg = {\n    \"payload\": {\n    \"service\": \"turn_off\",\n        \"data\": {\n            \"entity_id\": \"switch.on_off_plug_in_unit_2\"}\n            }\n   }\n}\nelse if (msg.payload.service == \"turn_on\"){\n   msg = {\n    \"payload\": {\n    \"service\": \"turn_on\",\n        \"data\": {\n            \"entity_id\": \"switch.on_off_plug_in_unit_2\"}\n            }\n    }\n}\nreturn [msg];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":460,"wires":[["bcc821db7c1d388f"]]},{"id":"4820f29ff39cdfb3","type":"function","z":"fbf6073.df3a9f8","name":"Winter Lights","func":"var msg1 = null;\nvar msg2 = null;\n\nif (msg.payload.data.entity_id == \"light.fasad_fram_upp\"){\n    delete msg.payload.data.entity_id,\n    msg1 = { \n            \"payload\": {\n                \"service\": 'turn_off',\n                \"data\": {\n                    \"entity_id\": \"light.fasad_fram_upp\"}\n            }\n    }\n}\n\nif (msg.payload.service == \"turn_off\"){\n           msg2 = {\n            \"payload\": {\n            \"service\": \"turn_off\",\n                \"data\": {\n                    \"entity_id\": \"switch.on_off_plug_in_unit_1\"}\n                    }\n           }\n}\n        else if (msg.payload.service == \"turn_on\"){\n           msg2 = {\n            \"payload\": {\n            \"service\": \"turn_on\",\n                \"data\": {\n                    \"entity_id\": \"switch.on_off_plug_in_unit_1\"}\n                    }\n            }\n    }\nreturn [[msg1, msg2]];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":300,"wires":[["8a16981337097135"]]},{"id":"eee4e2ca26ec3e92","type":"delay","z":"fbf6073.df3a9f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820,"y":240,"wires":[["1b957b23.aeae25","83c9e2e7.117"]]},{"id":"633f2de8e0393d6b","type":"delay","z":"fbf6073.df3a9f8","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820,"y":180,"wires":[["1b957b23.aeae25","83c9e2e7.117"]]},{"id":"bcc821db7c1d388f","type":"delay","z":"fbf6073.df3a9f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820,"y":360,"wires":[["1b957b23.aeae25","83c9e2e7.117"]]},{"id":"8a16981337097135","type":"delay","z":"fbf6073.df3a9f8","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":820,"y":300,"wires":[["1b957b23.aeae25","83c9e2e7.117"]]},{"id":"fd0b95a17162d05a","type":"inject","z":"fbf6073.df3a9f8","name":"Turn On","props":[{"p":"payload.data.entity_id","v":"dummy","vt":"str"},{"p":"payload.service","v":"turn_on","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":140,"wires":[["638690b17a7845f8","4820f29ff39cdfb3"]]},{"id":"ac0ab095d9d326e4","type":"inject","z":"fbf6073.df3a9f8","name":"Turn Off","props":[{"p":"payload.data.entity_id","v":"dummy","vt":"str"},{"p":"payload.service","v":"turn_off","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":350,"y":220,"wires":[["4820f29ff39cdfb3","638690b17a7845f8"]]},{"id":"d692420f6efd14fc","type":"debug","z":"fbf6073.df3a9f8","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"true","targetType":"full","statusVal":"payload","statusType":"auto","x":380,"y":620,"wires":[]},{"id":"45ad3b77.ab7904","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":true,"heartbeatInterval":"300","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"b15f5260591a3f03","type":"chronos-config","name":"Gårdslötsvägen 84","timezone":"","sunPositions":[]}]