data/xzJRYB9M.txt
[{"id":"43aa5deaf06fd578","type":"mqtt in","z":"7c8aeea8a73e1860","name":"/dropbox/quota","topic":"/dropbox/quota","qos":"2","datatype":"json","broker":"","nl":false,"rap":true,"rh":0,"inputs":0,"x":180,"y":120,"wires":[["642006da160a21a0"]]},{"id":"642006da160a21a0","type":"function","z":"7c8aeea8a73e1860","name":"Check Quota 90%","func":"// declare threshold\nconst threshold = 90.0;\n\n// calculate percent used\nvar used = 100.0 * msg.payload.used / msg.payload.total;\n\n// set the email message subject line\nmsg.topic = \"Dropbox space utilisation\"\n\n// check over threshold\nif (used > threshold) {\n    msg.payload = \"Space used exceeds \" + threshold + \"% threshold\";\n    return [null, msg];\n}\n\n// otherwise report in bounds\nmsg.payload = \"Space used is below \" + threshold + \" % threshold\";\nreturn [msg, null];\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":120,"wires":[[],["dcc95e8ad40febb5"]],"outputLabels":["below threshold","above threshold"]},{"id":"dcc95e8ad40febb5","type":"e-mail","z":"7c8aeea8a73e1860","server":"mailserver.somewhere.com","port":"465","secure":true,"tls":false,"name":"user@host.com","dname":"email notification","credentials":{"userid":"","password":""},"x":650,"y":120,"wires":[]}]